/* Langdon
http://www.fontsquirrel.com/fonts/langdon
One scroll
https://github.com/alvarotrigo/fullPage.js
Lightbox
https://github.com/blueimp/Gallery
Background
http://daydreamsphotography.deviantart.com/art/Wood-Texture-40184784
*/

.center-div
{
     margin: 0 auto;
     width: 100px; 
}

tr {
	color: #ffffff;
}

img {
	vertical-align: middle;
}

input[type="checkbox"],
input[type="radio"] {
	content: "\2605";
}

button {
	padding: 10px 34px !important;
	text-transform: uppercase;
	border-radius: 0;
	text-decoration: none;
	background-color: transparent;
	text-transform: uppercase;
	border: 1px solid #fff;
	margin: 0 5px;
}

input {
	color: black !important;
	padding:0.5em;
}

legend {
	color: white;
}

textarea {
	color: darkgray !important;
}

select {
	color: black !important;
	height: 3em;
}

.contact {
	display: block;
}

/*    Main    */

.coverimage {
	    width: calc(100% + 1em);
			max-width: 100%;

}

.container-sidebar {
    float: right;
    width: 8rem;
    padding-bottom:2rem;
		margin-bottom: 5rem !important;
		background: rgba( 77, 77, 77, 0.8);
	border: solid #FFFFFF;
		border-radius: 0.3rem;
	-webkit-border-radius: 0.3rem;
	-moz-border-radius: 0.3rem;
}

.container-body {
    margin-right: 8.5rem !important;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial;
	margin: 0;
	padding: 0;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/Background2.jpg");
	  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
	font-size: 1rem;
	line-height: 1.5;
	z-index:-99;
}

@font-face {
	font-family: Langdon;
	src: url("../fonts/Langdon.otf");
}

.fixed-nav-bar {
	font-family: "Langdon", Helvetica, Arial, sans-serif;
	font-size: 2em;
	opacity: 0.95;
	padding-top: 0.25% !important;
	padding: 1%;
	padding-bottom: 0.2% !important;
	width: 100%;
	z-index: 4;
	border-bottom: solid #FFFFFF;
}

.top {
	font-size: 20px;
	position: relative;
	z-index: 3;
}

.cover {
	width: 100%;
	height: 100%;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none !important;
}

.header-social {
	font-size: 1.5em;
	margin-left:2.4em;
}

.header-login {
	line-height: 22px;
}

.ul-padding {
	padding-right: 2% !important;
}

.footer {
	 position: fixed;
	bottom: 0;
	text-align: right;
  width: 100%;
	z-index: 5;
	opacity: 0.8;
	padding-bottom: 1.3em;
	font-size: 1.1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: #ffffff;
}

h1 {
	font-family: "Langdon", Times, serif;
	font-size: 4em;
	font-weight: normal;
	color: #ffffff;
	margin-top: 0px;
	margin-bottom: 10px;
}

h2 {
	font-family: "Langdon", Times, serif;
	font-size: 3em;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}

h3 {
	font-family: "Langdon", Times, serif;
	font-size: 2em;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 12px;
}


/*    Colors    */

.grey-background {
	background-color: #4d4d4d !important;
}

.orange-background {
	color: #ff9800 !important;
}

.orange-text {
	color: #ff9800 !important;
}

.background-black {
	background-color: black !important;
}

.text-black {
	color: black !important;
}

.background-white {
	background-color: white !important;
}

.text-white {
	color: white !important;
}

.instagram {
	color: #125688 !important;
}

.facebook {
	color: #3b5998 !important;
}

.twitter {
	color: #55acee !important;
}


/*    Hiding    */

.hideall {
	display: none !important;
}


/*    Sizing    */

.logo {
	width: 100px;
}


/*    Positioning    */

.ontop {
	position: fixed;
	z-index: 999;
}

.Inline-Block {
	display: Inline-Block;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex-gallery {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	align-content: center;
	height: 300px;
}

.center-table {
	margin-left: auto;
	margin-right: auto;
}

.Block-center {
	display: Inline-Block;
	text-align: center;
	padding-right: 20%;
	top: -100px;
	position: relative;
}

.centerbutton {
	margin: -20px -50px;
	position: relative;
	top: 50%;
	left: 50%;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

.margin-header-right {
	margin-right: 5% !important;
}

.margin-left {
	margin-left: 50%;
}

.margin-right {
	margin-left: 50%;
}

.left-align {
	position: absolute;
	left: 10%;
}

.right-align {
	position: absolute;
	right: 5%;
}


/*    Text    */

.center-text {
	text-align: center;
	vertical-align: middle;
}

.left-align-text {
	text-align: left;
}

.align-text {
	text-align: center;
}

.right-text {
	text-align: right;
	vertical-align: middle;
}

.responsive-video {
	max-width: 100%;
	height: auto;
}

@media only screen and (max-width: 700px) {
	.responsive-img {
		width: 49.99999%;
		margin: 6px 0;
	}
}


/*    Styling    */

.button-collapse {
	float: left;
	position: relative;
	z-index: 1;
	height: 56px;
}

fieldset {
	color: #fff;
}

.blur {
	backdrop-filter: blur(2px);
}

.Box-Green {
	width: 8.65em;
	height: 8.65em;
	padding-top: 1.250em;
	padding-bottom: 1.250em;
	background-color: #5b8065;
	box-sizing: border-box;
	border-radius: 90%;
	margin: 1.240em;
	    -webkit-transform: matrix(0.991,-0.133,0.133,0.991,0,0);
    -moz-transform: matrix(0.991,-0.133,0.133,0.991,0px,0px);
    -ms-transform: matrix(0.991,-0.133,0.133,0.991,0,0);
    -o-transform: matrix(0.991,-0.133,0.133,0.991,0,0);
     transform: matrix(0.991,-0.133,0.133,0.991,0,0);
}

.imgpolaroid {
	background-color: rgba( 77, 77, 77, 0.7);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-right: 3em;
	width: 12em;
}

.imgpolaroid img {
	width: 100%;
	height: auto;
}

.imgcontainer {
	padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 10px;
	text-align: center;
}

.Box-Grey {
	width: 140px;
	height: 140px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #343434;
	box-sizing: border-box;
	border-radius: 90%;
	margin: 20px;
}

.arrow {
	position: fixed;
	top: 50%;
	z-index: 5;
	display: inline-block;
	margin-top: -10px;
	line-height: 50%;
}

.circle {
	border-radius: 50%;
}

.login {
	position: relative;
	width: 320px;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	margin: 0 auto;
	top: 50%;
}

.space {
	padding-left: 0.25em;
	margin-left: 0.25em;
}

.serviceimg {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}

.serviceimg:hover {
	border: 1px solid #777;
}

.serviceimg img {
	width: 100%;
	height: auto;
}

.servicedesc {
	padding: 15px;
	text-align: center;
}

.ul-no-style {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.list-inline {
	display: inline;
	line-height: 20px;
}

.list-inline-footer {
	display: inline;
	padding: 1em;
}

.fa-no-style {
	color: black;
}

.underline {
	text-decoration: underline;
}

.bold {
	font-weight: bold;
}

.card-panel {
	transition: box-shadow .25s;
	padding: 1em;
  margin: 0.5rem 0 1rem 0;
	background: rgba( 77, 77, 77, 0.8);
	border: solid #FFFFFF;
		border-radius: 0.3rem;
	-webkit-border-radius: 0.3rem;
	-moz-border-radius: 0.3rem;

}

th {
	border-bottom: 1px solid #d0d0d0;
}

td,
th {
	padding: 15px;
	text-align: left;
	vertical-align: middle;
}

table.highlight > tbody > tr {
	transition: background-color .25s ease;
}

table.highlight > tbody > tr:hover {
	background-color: #f2f2f2;
}


/*    Shadows   */

.z-depth-0 {
	box-shadow: none !important;
}

.z-depth-1 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-2 {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/*    TRANSITIONS   */

.grow:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.shrink:hover {
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

@media only screen and (max-width: 990px) {
	.gallery-slide {
		position: absolute;
		left: 0;
		height: 90%;
		width: 2025%;
		animation-name: slide;
    animation-duration: 160s;
		animation-iteration-count: infinite;
		background: url(../Images/Gallery/All.jpg);
		z-index: 9;
		background-repeat: repeat-x;
	}
}

.slideshow {
  position: relative;
  overflow: hidden;
	height: 70%;
}

@keyframes slide {
	0% {
		left: 0;
	}
	100% {
		left: -1921%;
	}
}


/*    lOGIN   */

.login-trigger {
	right: 1% !important;
}

nav #login {
	border-right: 1px solid #ddd;
	box-shadow: 1px 0 0 #ffa500;
}

nav #login-trigger,
nav #signup a {
	display: inline-block;
	display: inline;
	text-decoration: none;
}

nav #signup a {
	border-radius: 0 3px 3px 0;
}

nav #login-trigger {
	border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover {
	background: #fff;
	padding-bottom: 10px;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav #signup:hover {
	background: #fff;
	padding-bottom: 10px;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav #login-content {
	display: none;
	position: absolute;
	z-index: 999;
	background: #fff;
	padding: 15px;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px 0 3px 3px;
	border-bottom: solid #ffa500;
}

nav li #login-content {
	width: 350px;
}


/*--------------------*/

#inputs input {
	background: #f1f1f1;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
	background-color: #fff;
	border-color: #e8c291;
	outline: none;
	box-shadow: 0 0 0 1px #e8c291 inset;
}


/*--------------------*/

#login #actions {
	margin: 10px 0 0 0;
	font-size: 0.7em;
	line-height: 0.8em;
}

#login #submit {
	background-color: #d14545;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border: 1px solid #7e1515;
	float: left;
	height: 30px;
	padding: 0;
	width: 100px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #fff;
}

#login #submit:hover,
#login #submit:focus {
	background-color: #e97171;
	background-image: linear-gradient(top, #d14545, #e97171);
}

#login #submit:active {
	outline: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#login #submit::-moz-focus-inner {
	border: none;
}

#login label {
	line-height: 30px;
}

#login label input {
	position: relative;
	top: 2px;
	right: 2px;
}

ul#tabs {
	list-style-type: none;
	margin: 30px 0 0 0;
	padding: 0 0 0.3em 0;
}

ul#tabs li {
	display: inline;
}

ul#tabs li a {
	color: #42454a;
	background-color: #dedbde;
	border: 1px solid #c9c3ba;
	border-bottom: none;
	padding: 0.3em;
	text-decoration: none;
}

ul#tabs li a:hover {
	background-color: #f1f0ee;
}

ul#tabs li a.selected {
	color: #000;
	background-color: #f1f0ee;
	font-weight: bold;
	padding: 0.7em 0.3em 0.38em 0.3em;
}

div.tabContent.hide {
	display: none !important;
}

div.tabContent.show {
	display: block !important;
}


/*      carousel       */


.carousel-fade .carousel-inner .carousel-item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .carousel-item.next,
  .carousel-fade .carousel-inner > .carousel-item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .carousel-item.prev,
  .carousel-fade .carousel-inner > .carousel-item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .carousel-item.next.left,
  .carousel-fade .carousel-inner > .carousel-item.prev.right,
  .carousel-fade .carousel-inner > .carousel-item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


/*Stars*/


.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 1.5rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #fff888;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color: #ffe488;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #fff888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: #ffe488;
  text-shadow: 0 0 1px #333;
}

